
/*PADRAO GERAL*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
:root{
    --corlogo:#391716;
    --cadet:#041E1B;
}
body{
    cursor: url('/img/cursor/cursospatapq1.png'), auto;
    font-family: 'Lora', serif;
}
fieldset{
    position: sticky;
    top:40%;
}
form{
    background-color: transparent;
    color:aliceblue;
    width: 50%;
    text-align: center;
    padding: 10px;
    font-weight: 900;
    color:aliceblue;
}
.butaozim{
    margin:5px;
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left:auto;
    margin-right:auto;
    
}
form>input{
    width: 20%;
}
/*INDEX GATINHO*/
body p{
    text-align: justify;
}
header{
    width:100%;
    background-color: var(--cadet) ;
    text-align: center;
}
.btn-fa-solid{
    font-size: 30px;
    margin-left:15px;
    background-color: transparent;
    color:aliceblue;
}
.btn-fa-solid:hover{
    background-color: aliceblue;
    color: var(--cadet);
    cursor: url('img/cursor/cursormoney.png'), auto;
}
h1{
    color:white;
    font-weight: bold;
    margin-top:auto;
    margin-bottom: auto;
}
header img{
    padding:5px;
    margin-right:5px;
}
.nav-petlink{
    text-decoration: none;
    color:white;
    font-weight: bold;
    padding:5px;
}
.nav-link:hover{
    cursor: url('img/cursor/cursospatapq.png'), auto;
}
.btn{
    background-color: aliceblue;
    color: var(--cadet);
    font-family:'Lora', serif; 
    font-size:18px;
}
.btn:hover{
    cursor: url('img/cursor/cursospatapq.png'), auto;
    background-color: var(--corlogo);
    color:aliceblue;
}
#exampleModalLabel{
    color:#391716;
    font-family:'Lora', serif; 

}
.main{
    width: auto;
}

/*FOOTER - PARCEIROS*/
footer{
    text-align: center;
    font-weight:900;
    font-size:40px;
    color: aliceblue;
    background-color: var(--cadet);
}
.footim{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
footer img{ 
    padding: 10px;
    height: 100px;
}
footer img:hover{
    cursor:pointer;
}