@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #041E1B;
}
.container{
    position:relative;
    max-width: 430px;
    width: 80%;
    
    box-shadow: 0 0 15px rgba(8, 212, 161, 0.5);
    border-radius: 15px;
    overflow: hidden;
}
.container .forms{
    display: flex;
    align-items: center;
    height:360px;
    width: 200%;
    transition: height 0.2s ease;
}

.container .form{
    width:50%;
    padding:10px;
    background: #ffffff;
    transition: margin-left 0.18s ease;
    
}
.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
    
}
.container .signup{
    opacity:0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity:1;
    transition: opacity 0.2s ease;
    
}
.container .forms .title{
    position: relative;
    font-size:27px;
    font-weight: 500;
}
/*Tag under the title*/
.form .title::before{
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    height:3px;
    width:30px;
    background-color:#041E1B;
    border-radius:25px;
}
.form .input-field{
    position:relative;
    margin-top:20px;
    height:30px;
    width: 100%;
}
.input-field input{
    position:absolute;
    height:100%;
    width:100%;
    padding: 0 35px;
    border:none;
    /*O outline retira as linhas das bordas*/
    outline:none;
    border-bottom:2px solid #ccc;
    border-top:2px solid transparent;
    font-size:15px;
    transition:all 1s ease;
}
.input-field input:is(:focus){
    border-bottom-color: #041E1B;
}
.input-field i{
    position:absolute;
    top:-7%;
    color:silver;
    font-size: 23px; 
}
.input-field i.icon{
    left:0;
}
.input-field i.showHidePw{
    right:0;
    cursor:pointer;
}
.form .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}
.checkbox-text .checkbox-content{
    display:flex;
    align-items: center;
}
.checkbox-content input{
    margin:0 8px -2px 4px;
    /*Accent-color change bg-color in checkbox*/
    accent-color: green;
}
.form .text{
    color:rgb(0, 0, 0);
    font-size:14px;
    margin-right:15px;
}
.form a.text{
    color: #000000;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form .button-log{
    margin-top: 25px;
    width: 80%;
    margin-left: 25%;
}
 .button-log button{
    padding: 7px;
    width: 90px;
    border:none;
    color:aliceblue;
    letter-spacing: 5px;
    font-size:17px;
    font-weight: 600;
    border-radius:200px;
    background-color: #0d864e;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button-log input:hover{
    background-color: #0c3dc5;
}
.form .login-signup{
    margin-top: 15px;
    text-align: center;
}



